@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

button {
    font-family: Roboto, sans-serif;
}


html {
    background-color: black;
}

@media screen and (min-width: 992px) {
    


body {
    height: 100vh;
    background-image: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/418460/10efecac15260588c4d7d68d81e5e36d82a58d43.jpg);
    background-image: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/418460/957f8a3cc2cb8812d31e5bdcb4123409cf0897c2.jpg);
    background-size: 110% 110%;
    background-position: center center;
    animation: shrink 8s infinite alternate;
  }
  @keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

}